body {
    background-color: rgb(221, 202, 178);
}

h1 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(199, 173, 173);
}